name: Artifact Export 

on:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Artifact-Export 
    runs-on: ubuntu-latest
    env:
      VERSION: "latest"
    steps:

      - name: Login to Docker Hub
        uses: docker/login-action@v1.14.1
        with:
          registry: ${{ secrets.REGISTRY }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Check Out Code
        uses: actions/checkout@v3
      - name: Setup KubeKey
        run: curl -sfL https://get-kk.kubesphere.io | sh -
      - name: Export
        run: sudo ./package.sh manifest.yaml
