name: Artifact Export 

on:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Artifact-Export 
    runs-on: ubuntu-24.04
    env:
      VERSION: "latest"
    steps:
      - name: Check Out Code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.REGISTRY }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Setup KubeKey
        run: |
          sudo curl -sfL https://get-kk.kubesphere.io | sh -

      - name: Export
        run: |
          sudo cat manifest.yaml > example.yaml
          sudo sed -i "s@REGISTRY@${{ secrets.REGISTRY }}@g" manifest.yaml
          sudo sed -i "s@USERNAME@${{ secrets.DOCKER_USERNAME }}@g" manifest.yaml
          sudo sed -i "s@PASSWORD@${{ secrets.DOCKER_PASSWORD }}@g" manifest.yaml
          sudo ./package.sh manifest.yaml
          sudo cat example.yaml > manifest.yaml
          sudo rm -f example.yaml
