name: Release

on:
  push:
    tags:
      - 'v*'

  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      VERSION: "latest"
    steps:
      - name: Check Out Code
        uses: actions/checkout@v2
      - name: Setup KubeKey
        run: curl -sfL https://get-kk.kubesphere.io | sh -
      - name: Get version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
      - name: Artifact Export 
        run: sudo ./package.sh manifest.yaml
      - name: Create Release
        uses: actions/create-release@v1
        id: create_release
        with:
          draft: true
          prerelease: false
          release_name: ${{ steps.get_version.outputs.VERSION }}
          tag_name: ${{ steps.get_version.outputs.VERSION }}
          body_path: CHANGELOG.md
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Upload Artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./offline.tgz
          asset_name: kubekey-artifact-amd64-${{ steps.get_version.outputs.VERSION }}.tgz
          asset_content_type: application/gzip
